<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    # disable TRACE and TRACK methods
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule ^ - [F]

    # Handle Pre-flight request
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^ - [L,R=200]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule mod_mime.c>
   # Manifest file
   AddType application/manifest+json webmanifest
</IfModule>

# Allow Access Control Headers
<IfModule mod_headers.c>
    SetEnvIfNoCase Origin "^https?://((www\.)?[a-z0-9]+\.)?(r0\.test|gialong\.xyz|localhost)(:\d+)?$" AccessControlAllowOrigin=$0
    Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Credentials "true" env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Methods "GET,POST,PUT,DELETE,OPTIONS" env=AccessControlAllowOrigin
    # https://developer.mozilla.org/en-US/docs/Glossary/CORS-safelisted_request_header
    Header always set Access-Control-Allow-Headers "x-requested-with,authorization,x-xsrf-token,content-type" env=AccessControlAllowOrigin
    # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers
    Header always set Access-Control-Expose-Headers "content-disposition" env=AccessControlAllowOrigin
    # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Max-Age
    Header always set Access-Control-Max-Age "86400" env=AccessControlAllowOrigin
    # Prevent sensitive information leakage through referer header
    Header always set Referrer-Policy "strict-origin"
    # Browser Sniffing Protection
    Header always set X-Content-Type-Options "nosniff"
    # XSS Protection
#    Header always set Content-Security-Policy "object-src 'none';base-uri 'none';default-src 'self';style-src 'self' 'unsafe-inline';"

     # Header for service worker file
    <Files "sw.js">
        Header always set Service-Worker-Allowed "/"
        Header Set Cache-Control "max-age=0, public, must-revalidate"
        Header Set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </Files>
</IfModule>
